<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best of The Year</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   <h1> Best of the year by [[${name}]]</h1>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae rerum perferendis magnam ex, et alias omnis sunt blanditiis tempore eligendi itaque laborum commodi impedit possimus iusto, quas ab, sapiente eos.</p>
<script src="script.js"></script>
</body>
</html>